body {
    background: #000;
}

a {
    text-decoration: none;
}

.section-div {
    width: 60%;
    display: flex;
    gap: 100px;
    color: #00dae6;
    box-shadow: 3px 4px 12px -2px;
    box-shadow: -3px -5px 12px -2px;
    margin: 210px 400px;
    border-radius: 8px;
    background: #fff;
}

.section-div img {
    width: 60%;
    height: 40%;
    color: #000;
    box-shadow: 3px 4px 12px -2px;
    border-top-left-radius: 8px;
}

.section-div h3 {
    font-size: 30px;
    margin-top: 70px;
    margin-left: -50px;
    padding: 10px;
    color: #000;
}

.section-div p {
    font-size: 17px;
    text-align: center;
    color: #000;
    padding-bottom: -100px;
    margin-bottom: -15px;
    margin-left: -50px;
}

span {
    color: #00dae6;
    font-weight: 600;
}

.section-div .newP {
    margin-top: 50px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    gap: 40px;
    margin-left: -50px;
}

ul li a {
    font-style: italic;
    font-weight: 600;
}

.lower-div a p {
    font-size: 14px;
    font-style: italic;
    margin-top: 50px;
}

.lower-div a h3 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 0;
    color: #00dae6;
    font-weight: 800;
    margin-left: 70px;
}